/Animal.class
/Boss.class
/Creature.class
/Fish.class
/Living.class
/Organism.class
/Person.class
/Plant.class
/Worker.class
/Planet.class
/Continent.class
/Country.class
/State.class
/City.class
/Community.class
/Neigborhood.class
/Block.class
/Building.class
/House.class
/Apartment.class
/Room.class
/Location.class
/SolarSystem.class
/Galaxy.class
/Universe.class
/Multiverse.class
/Hemisphere.class
/Street.class
/Area.class
/Moon.class
/Bird.class
/Lion.class
